@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

:root {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.5;
  font-weight: 300;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background: #f1f1f1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #cb9af7;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea {
  height: 100%;
  background-color: #f1f1f1;
  border: solid 1px #cb9af7;
  padding: 10px;
  border-radius: 12px;
  height: 50%;
}

button,
a.btn {
  border-radius: 20px !important;
  height: 60px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: "Poppins", sans-serif !important;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: solid 1px lightgray;
  padding: 10px;
  border-radius: 12px;
}

li a {
  color: #1a1a1a;
}

.chakra-checkbox__control {
  border: solid 1px black;
  padding: 2px;
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

.btn.btn-main {
  color: #f1f1f1;
  transition: all 0.25s ease-in-out;
}

.btn.btn-main:hover {
  background: linear-gradient(to right, #fd789f, #c99bfa);
  color: #f1f1f1;
  transform: scale(1.05);
}

.highlight-text {
  color: #cb9af7 !important;
  font-weight: bold;
}

.color-white {
  color: #f1f1f1 !important;
}

.color-white a {
  color: #f1f1f1 !important;
}

.color-black {
  color: #1a1a1a !important;
}

.color-purple {
  color: #a364db;
}

.shadow-light {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.base-gray {
  background: #f1f2f6;
}

.base-icons {
  color: #374151;
}

.base-gradient {
  background: linear-gradient(to right, #fd789f, #c99bfa) !important;
}

.base-cian {
  background: #4ECDF2 !important;
  color: #1a1a1a !important;
}

.base-purple {
  background: #a364db !important;
}

.base-dark-purple {
  background: rgb(45, 6, 83) !important;
}

.h-header-half {
  height: 65px !important;
}

.bg-transparent-white {
  background: rgb(255, 255, 255);
}

.base-white {
  background: #f1f1f1 !important;
}

.base-pink {
  background: #fd789f !important;
}

.bg-image-purple {
  position: relative;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
}

.bg-image-purple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.circular {
  border-radius: 100%;
}

.features-circular {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-transparent {
  background: #ffebf7;
}

.expandable-element {
  position: fixed; /* Use fixed to cover the entire page */
  top: 0;
  right: 0;
  width: 0%;
  height: 0%; /* Example background color */
  -webkit-clip-path: circle(0 at calc(100% - 170px) calc(0% + 60px));
          clip-path: circle(0 at calc(100% - 170px) calc(0% + 60px)); /* Start from top right */
}

.expandable-element.expand-animate {
  width: 100vw !important; /* Full viewport width */
  height: 100vh !important;
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

.expandable-element.animate {
  width: 100vw; /* Full viewport width */
  height: 100vh;
  animation: fillPage 1.5s forwards;
}

.fade-slide-right {
  animation: fadeSlideFromRight 250ms ease-out forwards;
}

.fade-slide-right-out {
  animation: fadeSlideToRight 250ms ease-out forwards;
}

.fade-slide-left {
  animation: fadeSlideFromLeft 250ms ease-out forwards;
}

.fade-slide-left-out {
  animation: fadeSlideToLeft 250ms ease-out forwards;
}

.MuiTypography-root span {
  font-family: "Poppins", sans-serif !important;
}

@keyframes fadeSlideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeSlideToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes fadeSlideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeSlideToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes fillPage {
  to {
    -webkit-clip-path: circle(150% at top right);
            clip-path: circle(150% at top right);
  }
}
@keyframes circle-in-bottom-left {
  from {
    -webkit-clip-path: circle(5% at top right);
            clip-path: circle(5% at top right);
  }
  to {
    -webkit-clip-path: circle(150% at top right);
            clip-path: circle(150% at top right);
  }
}
[transition-style="in:circle:bottom-left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-bottom-left both;
}

@keyframes moveDownAndUp {
  0% {
    transform: translateY(0); /* Start at the top */
  }
  50% {
    transform: translateY(40%); /* Move to the bottom */
  }
  100% {
    transform: translateY(0); /* Return to the top */
  }
}
@keyframes moveXandRotate {
  0% {
    transform: translateX(0) rotate(0deg); /* Start at the top */
  }
  50% {
    transform: translateX(40%) rotate(180deg); /* Move to the bottom */
  }
  100% {
    transform: translateX(0) rotate(0deg); /* Return to the top */
  }
}
/* Apply the animation to your element */
.animate-top-bottom {
  animation: moveDownAndUp 10s infinite linear;
}

.animate-rotate-x {
  animation: moveXandRotate 30s infinite linear;
}

.bg-text-card {
  background: rgb(241, 241, 241);
  background: linear-gradient(0deg, rgb(241, 241, 241) 80%, rgba(2, 0, 36, 0) 100%);
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: #f1f1f1;
  color: #1a1a1a;
  border-radius: 15px;
  padding: 2rem;
}

/* Container holding the card to set perspective */
.relative.container-card {
  perspective: 1000px;
}

/* Flip container - the card itself */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* When the container is flipped, rotate the .card-inner */
.container-flipped .card-inner {
  transform: rotateY(180deg);
}

/* Front and back card styling */
.card-front, .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Back face of the card */
.card-back {
  transform: rotateY(180deg);
}

.progress-bar {
  overflow: hidden;
  width: 100%;
}
.progress-bar span {
  display: block;
}

.incomplete {
  background-color: #f83e3e;
}

.complete {
  background-color: #75b800;
}

.half-complete {
  background-color: #f6bf41;
}

.progress {
  border-radius: 60px;
  color: #fff;
  padding: 5px 0;
  width: 0%;
  transition: all ease 0.5s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
    cursor: pointer;
  }
  button {
    background-color: #f9f9f9;
  }
}
:root {
  --hue: 223;
  --bg: hsl(var(--hue),90%,90%);
  --fg: hsl(var(--hue),90%,0%);
  --primary: hsl(var(--hue),90%,50%);
  --trans-dur: 0.3s;
}

body {
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.bike {
  display: block;
  margin: auto;
  width: 16em;
  height: auto;
}

.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
  animation: bikeBody 3s ease-in-out infinite;
  stroke: #a364db;
  transition: stroke var(--trans-dur);
}

.bike__front {
  animation-name: bikeFront;
}

.bike__handlebars {
  animation-name: bikeHandlebars;
}

.bike__pedals {
  animation-name: bikePedals;
}

.bike__pedals-spin {
  animation-name: bikePedalsSpin;
}

.bike__seat {
  animation-name: bikeSeat;
}

.bike__spokes,
.bike__tire {
  stroke: #c99bfa;
}

.bike__spokes {
  animation-name: bikeSpokes;
}

.bike__spokes-spin {
  animation-name: bikeSpokesSpin;
}

.bike__tire {
  animation-name: bikeTire;
}

/* Animations */
@keyframes bikeBody {
  from {
    stroke-dashoffset: 79;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -79;
  }
}
@keyframes bikeFront {
  from {
    stroke-dashoffset: 19;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -19;
  }
}
@keyframes bikeHandlebars {
  from {
    stroke-dashoffset: 10;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -10;
  }
}
@keyframes bikePedals {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -25.133;
  }
  33%, 67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -21.991;
  }
  to {
    stroke-dashoffset: -25.133;
  }
}
@keyframes bikePedalsSpin {
  from {
    transform: rotate(0.1875turn);
  }
  to {
    transform: rotate(3.1875turn);
  }
}
@keyframes bikeSeat {
  from {
    stroke-dashoffset: 5;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5;
  }
}
@keyframes bikeSpokes {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -31.416;
  }
  33%, 67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -23.562;
  }
  to {
    stroke-dashoffset: -31.416;
  }
}
@keyframes bikeSpokesSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(3turn);
  }
}
@keyframes bikeTire {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: 56.549;
    transform: rotate(0);
  }
  33% {
    stroke-dashoffset: 0;
    transform: rotate(0.33turn);
  }
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: 0;
    transform: rotate(0.67turn);
  }
  to {
    stroke-dashoffset: -56.549;
    transform: rotate(1turn);
  }
}
.bg-text-login {
  color: #f1f1f1;
}

.bg-input-login {
  background-color: #f1f1f1;
}/*# sourceMappingURL=index.css.map */