@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

:root {
  font-family: "Poppins", sans-serif !important;
  line-height: 1.5;
  font-weight: 300;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background: #f1f1f1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: #cb9af7;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea {
  height: 100%;
  background-color: #f1f1f1;
  border: solid 1px #cb9af7;
  padding: 10px;
  border-radius: 12px;
  height: 50%;
}

button,
a.btn {
  border-radius: 20px !important;
  height: 60px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: "Poppins", sans-serif !important;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: solid 1px lightgray;
  padding: 10px;
  border-radius: 12px;
}

textarea:focus, input:focus {
  outline: none;
}

li a {
  color: #1a1a1a;
}

.chakra-checkbox__control {
  border: solid 1px black;
  padding: 2px;
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

.btn.btn-main {
  color: #f1f1f1;
  transition: all 0.25s ease-in-out;
}

.btn.btn-main:hover {
  background: linear-gradient(to right, #fd789f, #c99bfa);
  color: #f1f1f1;
  transform: scale(1.05);
}

.highlight-text {
  color: #cb9af7 !important;
  font-weight: bold;
}

.swiper {
  width: 100%;
  height: 150px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.color-white {
  color: #f1f1f1 !important;
}

.color-white a {
  color: #f1f1f1 !important;
}

.color-black {
  color: #1a1a1a !important;
}

.color-purple {
  color: #a364db;
}

.shadow-light {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.color-dark-cyan {
  color: #374151;
}

.base-gray {
  background: #f1f2f6;
}

.base-icons {
  color: #374151;
}

.base-gradient {
  background: linear-gradient(to right, #fd789f, #c99bfa) !important;
}

.base-cian {
  background: #4ECDF2 !important;
  color: #1a1a1a !important;
}

.base-purple {
  background: #a364db !important;
}

.base-white-light {
  background: #fff !important;
}

.color-purple {
  color: #a364db !important;
}

.base-dark-purple {
  background: rgb(45, 6, 83) !important;
}

.h-header-half {
  height: 65px !important;
}

.bg-transparent-white {
  background: rgb(255, 255, 255);
}

.base-white {
  background: #f1f1f1 !important;
}

.base-pink {
  background: #fd789f !important;
}

.bg-image-purple {
  position: relative;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
}

.bg-image-purple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.circular {
  border-radius: 100%;
}

.features-circular {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-transparent {
  background: #ffebf7;
}

.expandable-element {
  position: fixed; /* Use fixed to cover the entire page */
  top: 0;
  right: 0;
  width: 0%;
  height: 0%; /* Example background color */
  -webkit-clip-path: circle(0 at calc(100% - 170px) calc(0% + 60px));
          clip-path: circle(0 at calc(100% - 170px) calc(0% + 60px)); /* Start from top right */
}

.expandable-element.expand-animate {
  width: 100vw !important; /* Full viewport width */
  height: 100vh !important;
  -webkit-clip-path: none !important;
          clip-path: none !important;
}

.expandable-element.animate {
  width: 100vw; /* Full viewport width */
  height: 100vh;
  animation: fillPage 1.5s forwards;
}

.fade-slide-right {
  animation: fadeSlideFromRight 250ms ease-out forwards;
}

.fade-slide-right-out {
  animation: fadeSlideToRight 250ms ease-out forwards;
}

.fade-slide-left {
  animation: fadeSlideFromLeft 250ms ease-out forwards;
}

.fade-slide-left-out {
  animation: fadeSlideToLeft 250ms ease-out forwards;
}

.MuiTypography-root span {
  font-family: "Poppins", sans-serif !important;
}

@keyframes fadeSlideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeSlideToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes fadeSlideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeSlideToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes fillPage {
  to {
    -webkit-clip-path: circle(150% at top right);
            clip-path: circle(150% at top right);
  }
}
@keyframes circle-in-bottom-left {
  from {
    -webkit-clip-path: circle(5% at top right);
            clip-path: circle(5% at top right);
  }
  to {
    -webkit-clip-path: circle(150% at top right);
            clip-path: circle(150% at top right);
  }
}
[transition-style="in:circle:bottom-left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-bottom-left both;
}

@keyframes moveDownAndUp {
  0% {
    transform: translateY(0); /* Start at the top */
  }
  50% {
    transform: translateY(40%); /* Move to the bottom */
  }
  100% {
    transform: translateY(0); /* Return to the top */
  }
}
@keyframes moveXandRotate {
  0% {
    transform: translateX(0) rotate(0deg); /* Start at the top */
  }
  50% {
    transform: translateX(40%) rotate(180deg); /* Move to the bottom */
  }
  100% {
    transform: translateX(0) rotate(0deg); /* Return to the top */
  }
}
/* Apply the animation to your element */
.animate-top-bottom {
  animation: moveDownAndUp 10s infinite linear;
}

.animate-rotate-x {
  animation: moveXandRotate 30s infinite linear;
}

.bg-text-card {
  background: rgb(241, 241, 241);
  background: linear-gradient(0deg, rgb(241, 241, 241) 80%, rgba(2, 0, 36, 0) 100%);
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: #f1f1f1;
  color: #1a1a1a;
  border-radius: 15px;
  padding: 2rem;
}

/* Container holding the card to set perspective */
.relative.container-card {
  perspective: 1000px;
}

/* Flip container - the card itself */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* When the container is flipped, rotate the .card-inner */
.container-flipped .card-inner {
  transform: rotateY(180deg);
}

/* Front and back card styling */
.card-front, .card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Back face of the card */
.card-back {
  transform: rotateY(180deg);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
}

.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-50%);
}
.demo__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
  animation: demoAnim 4s ease-in-out infinite, contAnim 4s infinite;
}
.demo__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: rotation 1.3s linear infinite;
}
.demo__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: white;
  border-radius: inherit;
}
.demo__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
}
.demo__colored-block:nth-child(1) {
  transform: rotate(0deg) skewX(-30deg);
  background-color: #4ECDF2;
}
.demo__colored-block:nth-child(2) {
  transform: rotate(120deg) skewX(-30deg);
  background-color: #fd789f;
}
.demo__colored-block:nth-child(3) {
  transform: rotate(240deg) skewX(-30deg);
  background-color: #f6bf41;
}
.demo__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.demo__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.demo__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #a364db;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  animation: numAnim 4s ease-in-out infinite;
  opacity: 0;
}
.demo__text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 100px;
  color: #a364db;
  text-transform: uppercase;
  letter-spacing: 15px;
  transform: translateX(10px);
  animation: hideText 4s infinite;
}

@keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}
@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%, 100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes demoAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
  }
}
@keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}
.choose-workout-card_info {
  display: flex;
}

.choose-workout-card_hover {
  height: 100%;
  transition: all 100ms ease-in-out;
}

.choose-workout-card_info a {
  width: 0px;
  visibility: hidden;
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.choose-workout-card:hover .choose-workout-card_info a {
  width: 48px;
  visibility: visible;
}

.choose-workout-card:hover .choose-workout-card_hover {
  height: 100%;
}

.base-linear-white-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 33%, rgba(255, 255, 255, 0.7484243697) 66%, rgba(255, 255, 255, 0.6) 100%);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#4ECDF2 92%,#0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}
#countdown {
  position: relative;
  height: 120px;
  width: 120px;
  text-align: center;
}

#countdown-number {
  color: #a364db;
  display: inline-block;
  line-height: 120px;
}

#countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px !important;
  height: 120px !important;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg circle {
  stroke-dasharray: 226px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #1a1a1a;
  fill: none;
  animation: countdown 600s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 226px;
  }
}
.Toastify__toast-container {
  width: 320px;
}

.Toastify__toast--default {
  background: #fff;
  color: #fff;
}

.Toastify__toast--info {
  background: #3498db;
  color: #fff;
}

.Toastify__toast--success {
  background: #07bc0c;
  color: #fff;
}

.Toastify__toast--warning {
  background: #f1c40f;
  color: #fff;
}

.Toastify__toast--error {
  background: #e74c3c;
  color: #fff;
}

#burguer-menu svg {
  height: 80px;
  position: absolute;
  width: 80px;
  z-index: 100;
}

.plates {
  display: flex;
  flex-wrap: wrap;
  max-height: 160px;
  width: 640px;
}

@media (max-width: 640px) {
  .plates {
    width: 320px;
  }
}
.plate {
  height: 80px;
  width: 80px;
}

.burger {
  filter: url(#gooeyness);
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke: #a364db;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}

.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

/* El segundo plato */
.plate2 .line1 {
  stroke-dasharray: 21 185.627532959;
  transition-delay: 0;
}

.plate2 .line2 {
  stroke-dasharray: 21 178.6514129639;
  transition-delay: 30ms;
}

.plate2 .line3 {
  stroke-dasharray: 21 197.9242553711;
  transition-delay: 60ms;
}

.plate2 .line4 {
  stroke-dasharray: 21 190.6597137451;
  transition-delay: 90ms;
}

.plate2 .line5 {
  stroke-dasharray: 21 208.5287475586;
  transition-delay: 120ms;
}

.plate2 .line6 {
  stroke-dasharray: 21 186.5970306396;
  transition-delay: 150ms;
}

.active.plate2 .line1 {
  stroke-dasharray: 5 185.627532959;
  stroke-dashoffset: -141px;
}

.active.plate2 .line2 {
  stroke-dasharray: 5 178.6514129639;
  stroke-dashoffset: -137px;
}

.active.plate2 .line3 {
  stroke-dasharray: 5 197.9242553711;
  stroke-dashoffset: -176px;
}

.active.plate2 .line4 {
  stroke-dasharray: 5 190.6597137451;
  stroke-dashoffset: -159px;
}

.active.plate2 .line5 {
  stroke-dasharray: 5 208.5287475586;
  stroke-dashoffset: -139px;
}

.active.plate2 .line6 {
  stroke-dasharray: 5 186.5970306396;
  stroke-dashoffset: -176px;
}

.active.plate2 .x {
  transition: transform 400ms 250ms;
}

/* O terceiro prato */
.plate3 .line {
  transition: stroke-dasharray 300ms 200ms, stroke-dashoffset 300ms 200ms, transform 300ms 200ms;
}

.plate3 .line1 {
  stroke-dasharray: 21 109;
}

.plate3 .line2 {
  stroke-dasharray: 21 112;
}

.plate3 .line3 {
  stroke-dasharray: 21 102;
}

.plate3 .line4 {
  stroke-dasharray: 21 103;
}

.plate3 .line5 {
  stroke-dasharray: 21 110;
}

.plate3 .line6 {
  stroke-dasharray: 21 115;
}

.plate3 .x {
  transition: transform 400ms 50ms;
}

.active.plate3 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate3 .line1 {
  stroke-dasharray: 5 109;
  stroke-dashoffset: -95px;
}

.active.plate3 .line2 {
  stroke-dasharray: 5 112;
  stroke-dashoffset: -96px;
}

.active.plate3 .line3 {
  stroke-dasharray: 5 102;
  stroke-dashoffset: -79px;
}

.active.plate3 .line4 {
  stroke-dasharray: 5 103;
  stroke-dashoffset: -78px;
}

.active.plate3 .line5 {
  stroke-dasharray: 5 110;
  stroke-dashoffset: -63px;
}

.active.plate3 .line6 {
  stroke-dasharray: 5 115;
  stroke-dashoffset: -64px;
}

.active.plate3 .x {
  transition: transform 400ms 100ms;
}

/* Die vierte teller */
.plate4 .x {
  transition: transform 400ms;
}

.plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}

.active.plate4 .line {
  transition: transform 400ms;
}

.active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}

.active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}

.active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}

.active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}

.active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}

.active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}

.active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}

/* Den femte rätten */
.plate5 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate5 .line1 {
  stroke-dasharray: 40 40;
}

.plate5 .line2 {
  stroke-dasharray: 21 39;
}

.plate5 .line3 {
  stroke-dasharray: 21 39;
}

.plate5 .line4 {
  stroke-dasharray: 40 40;
}

.plate5 .x {
  transition: transform 400ms 50ms;
}

.active.plate5 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate5 .line1 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}

.active.plate5 .line2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}

.active.plate5 .line3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}

.active.plate5 .line4 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}

.active.plate5 .x {
  transition: transform 400ms 50ms;
}

/* Шестая пластина */
.plate6 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate6 .line1 {
  stroke-dasharray: 21 127;
}

.plate6 .line2 {
  stroke-dasharray: 21 106;
}

.plate6 .line3 {
  stroke-dasharray: 21 106;
}

.plate6 .line4 {
  stroke-dasharray: 21 126;
}

.plate6 .x {
  transition: transform 400ms 50ms;
}

.active.plate6 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate6 .line1 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}

.active.plate6 .line2 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}

.active.plate6 .line3 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}

.active.plate6 .line4 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}

.active.plate6 .x {
  transition: transform 400ms 50ms;
}

/* 제 7 판 */
.plate7 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate7 .line1 {
  stroke-dasharray: 21 102;
}

.plate7 .line2 {
  stroke-dasharray: 21 92;
}

.plate7 .line3 {
  stroke-dasharray: 21 97;
}

.plate7 .line4 {
  stroke-dasharray: 21 97;
}

.plate7 .line5 {
  stroke-dasharray: 21 92;
}

.plate7 .line6 {
  stroke-dasharray: 21 102;
}

.plate7 .x {
  transition: transform 400ms 50ms;
}

.active.plate7 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate7 .line1 {
  stroke-dasharray: 2 102;
  stroke-dashoffset: -102px;
}

.active.plate7 .line2 {
  stroke-dasharray: 2 92;
  stroke-dashoffset: -92px;
}

.active.plate7 .line3 {
  stroke-dasharray: 2 97;
  stroke-dashoffset: -97px;
  transition-delay: 20ms;
}

.active.plate7 .line4 {
  stroke-dasharray: 2 97;
  stroke-dashoffset: -97px;
  transition-delay: 20ms;
}

.active.plate7 .line5 {
  stroke-dasharray: 2 92;
  stroke-dashoffset: -90px;
  transition-delay: 40ms;
}

.active.plate7 .line6 {
  stroke-dasharray: 2 102;
  stroke-dashoffset: -100px;
  transition-delay: 40ms;
}

.active.plate7 .x {
  transition: transform 400ms 50ms;
}

/* Όγδοο πιάτο */
.plate8 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate8 .line1 {
  stroke-dasharray: 21 201;
}

.plate8 .line2 {
  stroke-dasharray: 21 201;
  transition-delay: 20ms;
}

.plate8 .line3 {
  stroke-dasharray: 21 201;
  transition-delay: 40ms;
}

.plate8 .line4 {
  stroke-dasharray: 21 201;
  transition-delay: 60ms;
}

.plate8 .line5 {
  stroke-dasharray: 21 201;
  transition-delay: 80ms;
}

.plate8 .line6 {
  stroke-dasharray: 21 201;
  transition-delay: 100ms;
}

.plate8 .x {
  transition: transform 400ms 50ms;
}

.active.plate8 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate8 .line1 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
}

.active.plate8 .line2 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 20ms;
}

.active.plate8 .line3 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 40ms;
}

.active.plate8 .line4 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 60ms;
}

.active.plate8 .line5 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 80ms;
}

.active.plate8 .line6 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 100ms;
}

.active.plate8 .x {
  transition: transform 400ms 50ms;
}

.progress-bar {
  overflow: hidden;
  width: 100%;
}
.progress-bar span {
  display: block;
}

.incomplete {
  background-color: #f83e3e;
}

.complete {
  background-color: #75b800;
}

.half-complete {
  background-color: #f6bf41;
}

.progress {
  border-radius: 60px;
  color: #fff;
  padding: 5px 0;
  width: 0%;
  transition: all ease 0.5s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
    cursor: pointer;
  }
  button {
    background-color: #f9f9f9;
  }
}
:root {
  --hue: 223;
  --bg: hsl(var(--hue),90%,90%);
  --fg: hsl(var(--hue),90%,0%);
  --primary: hsl(var(--hue),90%,50%);
  --trans-dur: 0.3s;
}

body {
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.bike {
  display: block;
  margin: auto;
  width: 16em;
  height: auto;
}

.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
  animation: bikeBody 3s ease-in-out infinite;
  stroke: #a364db;
  transition: stroke var(--trans-dur);
}

.bike__front {
  animation-name: bikeFront;
}

.bike__handlebars {
  animation-name: bikeHandlebars;
}

.bike__pedals {
  animation-name: bikePedals;
}

.bike__pedals-spin {
  animation-name: bikePedalsSpin;
}

.bike__seat {
  animation-name: bikeSeat;
}

.bike__spokes,
.bike__tire {
  stroke: #c99bfa;
}

.bike__spokes {
  animation-name: bikeSpokes;
}

.bike__spokes-spin {
  animation-name: bikeSpokesSpin;
}

.bike__tire {
  animation-name: bikeTire;
}

/* Animations */
@keyframes bikeBody {
  from {
    stroke-dashoffset: 79;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -79;
  }
}
@keyframes bikeFront {
  from {
    stroke-dashoffset: 19;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -19;
  }
}
@keyframes bikeHandlebars {
  from {
    stroke-dashoffset: 10;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -10;
  }
}
@keyframes bikePedals {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -25.133;
  }
  33%, 67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -21.991;
  }
  to {
    stroke-dashoffset: -25.133;
  }
}
@keyframes bikePedalsSpin {
  from {
    transform: rotate(0.1875turn);
  }
  to {
    transform: rotate(3.1875turn);
  }
}
@keyframes bikeSeat {
  from {
    stroke-dashoffset: 5;
  }
  33%, 67% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5;
  }
}
@keyframes bikeSpokes {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -31.416;
  }
  33%, 67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -23.562;
  }
  to {
    stroke-dashoffset: -31.416;
  }
}
@keyframes bikeSpokesSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(3turn);
  }
}
@keyframes bikeTire {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: 56.549;
    transform: rotate(0);
  }
  33% {
    stroke-dashoffset: 0;
    transform: rotate(0.33turn);
  }
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: 0;
    transform: rotate(0.67turn);
  }
  to {
    stroke-dashoffset: -56.549;
    transform: rotate(1turn);
  }
}
.bg-text-login {
  color: #f1f1f1;
}

.bg-input-login {
  background-color: #f1f1f1;
}/*# sourceMappingURL=index.css.map */